@import '../../index.css';

.page_content{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #1b2838;
    color: white;
    height: 100%;
    min-height: calc(100vh - var(--navbarHeight) - var(--footerHeight));
}