@import '../../index.css';
.gameCapsule{
    width: var(--widthOfIteminList);
    //border:4px solid red;
}
.thumbCap{
    margin: 0;
    width: 100%;
    line-height: 0;
}
.thumbnail{
    width: 100%;
    aspect-ratio: 230/107;
    object-fit: contain;
}

.info{
    display: flex;
    flex-direction: horizontal;
    background: linear-gradient(60deg, #00ADEE, #000000);
    padding: 2px 0 2px 2px;

}
.discount{
    font-size: 0.75em;
    color: #BEEE11;
    background: #4c6b22;
    padding: 2px 0 2px 2px;
}
.finalPrice{
    padding: 2px 4px 2px 4px;
    background-color: rgba(20,31,44,0.4);
    border-radius: 1px;
    font-size: 0.75em;
    color: #ffffff;
}



/* .skeleton{
    background-color: rgb(199, 199, 199);
    border-radius: 0.25em;
}
.skeleton.box{
    width: 100%;
    aspect-ratio: 230/107;
    object-fit: contain;
}
 css animation 
@keyframes pulse{
    50%{
        opacity: 0.5;
    }
}
.animate-pulse{
    animation: pulse 2s cubic-bezier(0.4,0, 0.6, 1) infinite;
} */