@import '../../index.css';

.page_content{
    width: 100%;
    background-color: #1b2838;
    height: 100%;
    min-height: calc(100vh - var(--navbarHeight) - var(--footerHeight));
}
.set_div_center{
    display: flex;
    justify-content: center;
    align-items: center; 
}
@media only screen and (max-width: 1000px) {
    
}