html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  margin:0;
  padding:0;
}
@font-face {
  font-family: 'Steam Font';
  src: local('Steam Font'), url('./fonts/Steam Font.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --smallDeviceScreen: 1000px;
  --navbarHeight: 4em;
  --gapbwIteminList: 0.5em;
  --widthOfIteminList: 15em;
  --dirButton: 4em;
  --appWrapperLarge: 948px;
  --appVideoLarge: 600px;
  --shortDescriptionFont: 0.8em;
  --footerHeight: 4em;
  --secondColInAppDetail: 17rem;
}

@media (max-width: 1000px){
  :root{
    --appWrapperLarge: 80vw;
    --appVideoLarge: 80vw;
    --secondColInAppDetail: 75vw;
  }
}
